.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
}

h1 {
  text-align: center;
  color: #333;
}

button#addNoteButton {
  display: block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button#addNoteButton:hover {
  background-color: #45a049;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup-content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup h2 {
  margin-bottom: 10px;
  color: #333;
}

form#noteForm {
  display: flex;
  flex-direction: column;
}

input[type="text"],
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  height: 100px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.notes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.note {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.note h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.note h4 {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.note p {
  color: #555;
}

.note-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.edit-button,
.delete-button {
  padding: 8px 16px;
  margin-right: 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #c82333;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-link {
  padding: 8px 12px;
  background-color: #ccc;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-link.active {
  background-color: #4caf50;
  color: #fff;
}

.pagination-link:hover {
  background-color: #45a049;
}
